<div class="container">

  <table mat-table [dataSource]="dataSource" matSort> 

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Tipo -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
      <td mat-cell *matCellDef="let row"> {{row.type}} </td>
    </ng-container>

    <!-- Habilidad -->
    <ng-container matColumnDef="habilidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Habilidad </th>
      <td mat-cell *matCellDef="let row"> {{row.ability}} </td>
    </ng-container>

    <!-- Imagen -->
    <ng-container matColumnDef="imagen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
      <td mat-cell *matCellDef="let row"> 
        <img src="{{row.image}}" alt="pokemon" width="100" height="100">
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
      <td mat-cell *matCellDef="let row"> 
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deletePokemon(row.id)">
            <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</div>