.container {
    height: 100vh;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

table {
    min-width: 80%;
    margin: auto;
    text-align: center;
}

.mat-header-cell {
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

/* Pares */
.mat-row:nth-child(even) {
    background-color:#d8e621;
}

/* Impares */
.mat-row:nth-child(odd) {
    background-color: rgb(14, 8, 27);
    & .mat-cell {
        color: white;
    }
}

.mat-cell::first-letter {
    text-transform: uppercase;
}

.mat-row:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 5px #e621ab;
}

::ng-deep.mat-paginator {
    width: 80%;
    margin: auto;
    background-color: white;
    color: black;
}

.mat-form.field {
    margin-bottom: 5px;
    font-size: 13px;
    padding: 10px;
    width: 20%;
}

::ng-deep.mat-form-field-label {
    color: white !important;
}

::ng-deep.mat-form-field-underline {
    background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: white !important;
}

input {
    color: white !important;
}

